*{
    margin: 0;
    padding: 0;
}


body {
background-color: #F5F4F0;
font-family: "Open Sans", sans-serif ; 
}

main {
    box-sizing: border-box;
    margin: 80px 88px;
    width: 1120px;
    height: auto;
    list-style-position: inside;
}
#upper {
    color: #E1624F;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}
#header{
    width: 100%;
}
h1 {
    color: #1b1b1b;
    font-size: 36px;
    margin-bottom: 40px;
}   
sub {
    font-style: italic;
    font-size: 16px;
    color: #333333;
}
h2 {
    font-size: 32px;
    color: #1b1b1b;
    margin-top: 2px;
}
#busan {
color: #333333;
font-size: 16px;
margin-bottom: 64px ;
margin-top: 8px;
}
ol h3 {
    color: #1b1b1b;
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px; 
    margin-bottom: 4px;
    display: inline;
}                                       
ol li::marker {
  font-size: 2rem;
  font-weight: bold;
  
}
#idade{
    color:#333333 ;
    font-size: 16px;
    text-align: center;
} 
#destinations {
    margin-bottom: 64px;
    margin-bottom: 64px;
}
#haedong p + p {
    color:  #333333;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    
}

#history {
font-size: 16px;
color: #0c51a7;
font-weight: bold;
list-style-type: disc;
margin-bottom: 48px;
padding-left: 15px;
}
#history ::marker {
  font-size: 15px;
  color: #333333;
}
#beomeo p + p {
    color:  #333333;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}
#yougdusan p + p {
    color:  #333333;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

#good ::marker {
  font-size: 15px;
  color: #333333;
}

#purple {
font-size: 16px;
color: #591b98;
font-weight: bold;
list-style-type: disc;
margin-left: 15px;
}
#pink {
font-size: 16px;
color: #e5245e;
font-weight: bold;
list-style-type: disc;
margin-left: 15px;
}

#orange {
font-size: 16px;
color: #e95e10;
font-weight: bold;
list-style-type: disc;
margin-left: 15px;
}
.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}
footer {
    text-align: center;
    padding-bottom: 48px;
    margin-top: 65px;
    line-height: 150%;
    color: #333333;
}
footer img {
    vertical-align: middle;
    margin-left: 4px;
    margin-right: 4px;
}